# node
node_modules/
_public/
*.log
coverage/

# transpile file
# lib/ # need lib for the direct consumer apps using dependency as git+https://github.com/vivekmunde/react-semantify.git#master

# gulpfile is transpile from gulpfile.babel.js
gulpfile.js
